{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            Error 403:
        </div>
        <div class="panel-body">
            Your user account does not have the privilges to open this page. Please contact your data- or system-administrator.
        </div>
    </div>
{% endblock %}

