{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            An error occured
        </div>
        <div class="panel-body">

        </div>
    </div>
{% endblock %}
