<div class="modal fade" id="searchInfoModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tips for using the search</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">Use * as a placeholder when searching.</div>

                <p>By default the search matches exact strings. This means if you search for "London" you only get those results where the value is "London", but not for example "London-City".</p>

                <p>By adding an * to the search "London*" you will also find results beginning with "London". But it doesn't find "Watford (near London)" for example.</p>

                <p>To also find this you can add a * to the beginning of the search-term like "*London*".</p>

                <p>It is also possible to place the * in the middle of a word. For by searching for "M*ier" you will find names like Meier and Maier.</p>
            </div>
        </div>
    </div>
</div>