{% extends 'base.html.twig' %}

{% block title %}New Potential Identity{% endblock %}


{% block body %}
    <h1>New Potential Identity</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('potentialidentity_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
