{% extends 'base.html.twig' %}

{% block title %}Imports - Overview{% endblock %}


{% block body %}
    <div class="row">
    </div>

    <div class="well">
        {{ csvFileContent | nl2br }}
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
